*{
    margin: 0;
    padding: 0;
}
nav{
    font-size: 1.25em;
    background-color: lightseagreen;
}
.nav-link:hover{
    background-color: rgba(0,0,0,0.1);
}
.carousel-caption{
    text-shadow: 1px 1px black;
    margin-bottom: 150px;
}
.conteudo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    margin-left: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: rgba(255,255,255,0.2);
}
.card-margin{
    margin-bottom: 40px;
    margin-top: 40px;
}

